.foto {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    display: block;
    border: solid 5px white;
    box-shadow: 1px 1px 15px rgb(255, 0, 0);
    object-fit: cover;
}